@font-face {
	font-family: 'outfit';
	src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}

:root {
	/* COLORS */
	--slate-900: #1f314f;
	--slate-500: #68778d;
	--slate-300: #d5e1ef;
	--white: #ffffff;

	/* Text Preset 1 */
	--preset1-size: 22px;
	--preset1-line-height: 120%;
	--preset1-spacing: 0px;
	--preset1-weight: 700;

	/* Text Preset 2 */
	--preset2-size: 15px;
	--preset2-line-height: 140%;
	--preset2-spacing: 0.2px;
	--preset2-weight: 400;

	/* Spaceing */

	--space-500: 40px;
	--space-300: 24px;
	--space-200: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: var(--font-family-outfit);
}

/* Typography Presets */
.text-preset-1 {
	font-weight: var(--preset1-weight);
	font-size: var(--preset1-size);
	line-height: var(--preset1-line-height);
	letter-spacing: var(--preset1-spacing);
}

.text-preset-2 {
	font-weight: var(--preset2-weight);
	font-size: var(--preset2-size);
	line-height: var(--preset2-line-height);
	letter-spacing: var(--preset2-spacing);
}
