@font-face {
	font-family: 'Outfit';
	src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Colors */
	--slate-900: #1f314f;
	--slate-500: #68778d;
	--slate-300: #d5e1ef;
	--white: #ffffff;

	/* Font */
	--font-family-outfit: 'Outfit';

	/* Text Preset 1 */
	--preset1-size: 22px;
	--preset1-line-height: 120%;
	--preset1-spacing: 0px;
	--preset1-weight: 700;

	/* Text Preset 2 */
	--preset2-size: 16px;
	--preset2-line-height: 140%;
	--preset2-spacing: 0.2px;
	--preset2-weight: 300;

	/* Spaceing */

	--space-500: 40px;
	--space-300: 24px;
	--space-200: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: var(--font-family-outfit);
}
